body {
    margin: 0;
    min-height: 100vh;
    background:
        radial-gradient(circle at top left, #071424, transparent 40%),
        radial-gradient(circle at bottom right, #020617, transparent 45%),
        linear-gradient(135deg, #020617, #040b1d);
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
    position: sticky;
    top: 0px;
    z-index: 1000;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0;
    max-height: 25vh;
    background:
        radial-gradient(circle at top left, #071424, transparent 40%),
        radial-gradient(circle at bottom right, hwb(229 1% 91%), transparent 45%),
        linear-gradient(135deg, #020617, #040b1d);
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 25px;
    padding: 0 0 0 0;
}

.navbar-name {
    display: flex;
    align-items: first baseline;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 50px;
    width: 100%;
    background-color: #000112;
}

.navbar-name p {
    font-weight: bolder;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-display: fallback;
    font-style: unset;
    color: rgb(252, 252, 252);
}

.navbar-name p:hover {
    cursor: pointer;
    background: radial-gradient(circle, rgb(247, 143, 188) 0%, rgb(161, 195, 234) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.5);
}

.navbar-menu {
    display: flex;
    justify-content: center;
    background-color: #000112;
    align-items: center;
    flex-wrap: wrap;
    max-height: 200px;
    padding: 10px 0 0 0;
    min-width: 100%;
    gap: 50px;
}

@media screen and (max-width: 755px) {
    .navbar-menu {
        gap: 20px;
    }
}

.navbar-menu a {
    font-size: x-large;
    font-weight: bolder;
    font-display: fallback;
    font-style: unset;
    color: rgb(111, 241, 236);
    text-decoration: none;
}



.navbar-menu a:hover {
    cursor: pointer;
    background: radial-gradient(circle, rgb(247, 143, 188) 0%, rgb(161, 195, 234) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.05);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    min-height: 65vh;
    width: 100%;
    margin-top: 30px;
}

.hero-img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    padding: 2%;
    border: 7px solid rgb(46, 141, 144);
    background-image: url("./Yashimg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-img:hover {
    box-shadow: 1px 1px 10px rgb(141, 251, 251);
    transform: scale(1.05);
    cursor: pointer;
    transition-delay: 1ms;
}

.hero-text {
    height: 250px;
    width: 350px;
}

.hero-text .hero-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
    font-weight: unset;
    padding: 0 0 0 10px;
}

.hero-text .hero-text-content:hover {
    transform: scale(1.05);
    cursor: none;
    color: rgb(255, 255, 255);
}

.hero-text .hero-text-content .yash {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1;
    margin: 5px 0 15px 0;
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 800;
    background: linear-gradient(90deg, #00f2ff, #4facfe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    transition: color 0.3s ease;

    font-size: 64px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;

    text-shadow:
        0 0 5px #fff,
        0 0 18px #00f2ff,
        0 0 18px #00f2ff,
        0 0 38px #4facfe,
        0 0 79px #4facfe;

    transition: all 0.1s ease;
}

.hero-text .hero-text-content .yash:hover {
    text-shadow:
        0 0 7px #fff,
        0 0 15px #00f2ff,
        0 0 35px #00f2ff,
        0 0 75px #4facfe,
        0 0 100px #4facfe;
}


.hero .hero-text .hero-text-content .bottom-text {
    font-size: 1.3rem;
    max-width: 300px;
    line-height: 1.4;
}

.bottom-text {
    max-width: 272px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bottom-text p {
    padding: 2px;
    line-height: 0.1px;
    font-size: 1rem;
}

.hero .hero-text .hero-text-content .resume-button {
    margin-top: 5px;
    max-height: 10vh;
    width: 140px;
    font-size: 1rem;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background:
        radial-gradient(circle at top left, #071424, transparent 40%),
        radial-gradient(circle at bottom right, hwb(229 1% 91%), transparent 45%),
        linear-gradient(135deg, #020617, #040b1d);
    border-radius: 10px;
    border: 3px solid rgb(142, 247, 249);
}
.hero .hero-text .hero-text-content .resume-button:hover {
    transform: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background: #36e3e3;
    background: radial-gradient(circle, rgb(247, 143, 188) 0%, rgb(161, 195, 234) 100%);
        border: 3px solid rgb(130, 9, 52);

}

.skills
{
    margin-top: 400px;
}

.skills .skills-name h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    font-size: 2rem;
    font-weight: bolder;
    font-display: fallback;
    font-style: unset;
    color: rgb(111, 241, 236);
    text-align: center;
    max-height: 50%;
}

.skills .skills-name h1:hover
{

    background: radial-gradient(circle, rgb(247, 143, 188) 0%, rgb(161, 195, 234) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.05);
}

.skills .skills-btns
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.skills .skills-btns button
{
    font-size: 1.5rem;
    font-weight: lighter;
    height: 50px;
    width: 180px;
    border-radius: 10px;

    background:
        radial-gradient(circle at top left, #071424, transparent 40%),
        radial-gradient(circle at bottom right, hwb(229 1% 91%), transparent 45%),
        linear-gradient(135deg, #020617, #040b1d);

    color: white;
    border: 2px solid rgb(9, 238, 200)
}

.skills .skills-btns button:hover {
    box-shadow: 2px 2px 8px #4facfe;
    transform: scale(1.05);
    transition-delay: 1ms;
    background: #4d47a1;
    background: linear-gradient(90deg, rgba(77, 71, 161, 1) 0%, rgba(255, 201, 201, 1) 51%, rgba(42, 180, 201, 1) 100%);
    color: #020617;
}

.skills .coding-profiles {
    margin-top: 100px;
}

.skills .coding-profiles p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-size: 2rem;
    font-weight: bolder;
    font-display: fallback;
    font-style: unset;
    color: rgb(111, 241, 236);
    text-align: center;
    max-height: 50%;
}

/* .skills .coding-profiles p:hover {
    background: radial-gradient(circle, rgb(247, 143, 188) 0%, rgb(161, 195, 234) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.05);
}

.skills .coding-profiles .coding-profiles-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.skills .coding-profiles .coding-profiles-btns button {
    font-size: 1.5rem;
    font-weight: lighter;
    height: 50px;
    width: 200px;
    border-radius: 10px;

    background:
        radial-gradient(circle at top left, #071424, transparent 40%),
        radial-gradient(circle at bottom right, hwb(229 1% 91%), transparent 45%),
        linear-gradient(135deg, #020617, #040b1d);

    color: white;
    border: 2px solid rgb(9, 238, 200)
}

.skills .coding-profiles .coding-profiles-btns button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 8px #4facfe;
    transform: scale(1.05);
    transition-delay: 1ms;
    background: #4d47a1;
    background: linear-gradient(90deg, rgba(77, 71, 161, 1) 0%, rgba(255, 201, 201, 1) 51%, rgba(42, 180, 201, 1) 100%);
    color: #020617;
} */
 .coding-profiles .coding-profiles-btns 
 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
 }
.coding-profiles .coding-profiles-btns .profile-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 200px;
    height: 250px;
    border-radius: 12px;
    background-color: #000612;
    color: white;
    border: 2px solid rgb(9, 238, 200);
    
}
.coding-profiles .coding-profiles-btns .profile-container:hover
{
    box-shadow: 2px 2px 8px #4facfe;
    transform: scale(1.05);
    transition-delay: 1ms;
}
.coding-profiles .coding-profiles-btns .profile-container .leetcode-img
{
    width: 100%;
    height: 70%;
    border-radius: 10px 10px 0 0;
    background-color: #000112;
    background-image: url("./leetcode.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.coding-profiles .coding-profiles-btns .profile-container .gfg-img
{
    width: 100%;
    background-color: #000112;
    background-image: url("./gfg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70%;
    border-radius: 10px 10px 0 0;
}
.coding-profiles .coding-profiles-btns .profile-container button
{
    font-weight: lighter;
    height: 35px;
    width: 120px;
    border-radius: 10px;

    background:
        radial-gradient(circle at top left, #071424, transparent 40%),
        radial-gradient(circle at bottom right, hwb(229 1% 91%), transparent 45%),
        linear-gradient(135deg, #020617, #040b1d);

    color: white;
    border: 2px solid rgb(9, 238, 200)
}
.coding-profiles .coding-profiles-btns .profile-container button:hover
{
    cursor: pointer;
    transform: scale(1.05);
    transition-delay: 1ms;
    background: #4d47a1;
    background: linear-gradient(90deg, rgba(77, 71, 161, 1) 0%, rgba(255, 201, 201, 1) 51%, rgba(42, 180, 201, 1) 100%);
    color: #020617;
}
@media screen and (max-width: 700px) {
    .skills .coding-profiles .coding-profiles-btns {
        gap: 40px;
    }
}

.projects {
    margin-top: 200px;
    width: 100vw;
    min-height: 500px;
}

.projects .project-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-size: 2rem;
    font-weight: bolder;
    font-display: fallback;
    font-style: unset;
    color: rgb(111, 241, 236);
    text-align: center;
    max-height: 50%;
}

.projects .project-header:hover {
    background: radial-gradient(circle, rgb(247, 143, 188) 0%, rgb(161, 195, 234) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.05);
}

.projects .project-box-container {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width: 680px) {
    .projects .project-box-container {
        gap: 90px;
    }
}

.projects .project-box-container .project-box {
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid rgb(121, 255, 233);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.projects .project-box-container .project-box:hover {
    box-shadow: 1px 1px 15px #36e3e3;
}

.projects .project-box-container .project-box .project-box-img {
    width: 100%;
    height: 45%;
    background-color: #172033;
    border-radius: 10px 10px 0 0;
}

.projects .project-box-container .project-box .project-box-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #172033;
    border-radius: 9px 9px 0 0;
}

.projects .project-box-container .project-box .project-box-content {
    width: 100%;
    max-height: 30%;
    background-color: #172033;
    backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: rgb(205, 253, 255);
    font-size: 0.8rem;
    font-weight: unset;
    text-align: center;
}

.projects .project-box-container .project-box .project-box-content {
    width: 100%;
    max-height: 30%;
    background-color: #172033;
    backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: rgb(205, 253, 255);
    font-size: 0.8rem;
    font-weight: unset;
    text-align: center;
}

.projects .project-box-container .project-box .project-box-content p {
    text-align: center;
    font-size: 1.2rem;
    color: #8ba4f6;
}

.projects .project-box-container .project-box .project-box-btns {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #172033;
    color: white;
    border-radius: 0 0 10px 10px;
}

.projects .project-box-container .project-box .project-box-btns button {
    font-size: 1rem;
    font-weight: lighter;
    height: 50px;
    width: 100px;
    border-radius: 15px;
    background-color: #172033;
    color: white;
    border: 2px solid rgb(9, 238, 200)
}

.projects .project-box-container .project-box .project-box-btns button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition-delay: 1ms;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    color: rgb(0, 6, 31)
}

.academics {
    margin-top: 200px;
}

.academics .academics-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-size: 2rem;
    font-weight: bolder;
    font-display: fallback;
    font-style: unset;
    color: rgb(111, 241, 236);
    text-align: center;
    max-height: 50%;
}
.academics .academics-header:hover
{
    background: radial-gradient(circle, rgb(247, 143, 188) 0%, rgb(161, 195, 234) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.academics .academics-name {
    font-size: 2rem;
    text-align: center;
    margin-top: 80px;
    font-weight: bolder;
    background: radial-gradient(circle, rgb(247, 143, 188) 0%, rgb(161, 195, 234) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.academics .academic-year {
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
    background: radial-gradient(circle, rgb(247, 143, 188) 0%, rgb(161, 195, 234) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.academics .academic-year:hover {
    transform: scale(1.05);
}

.academics .academics-name:hover {
    transform: scale(1.05);
}

.academics .academics-header:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}

.academics .academics-graph {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.academics .academics-graph .Semester {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 30px;
    border-radius: 3px;
    gap: 30px;
    background-color: #1c273e;
    width: 80%;
    font-weight: bolder;
    color: #70e7e7;
}

.academics .academics-graph .Semester:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 10px rgb(254, 143, 162);
    color: rgb(230, 114, 219);
}