body 
{
    margin: 0;
    min-height: 100vh;
    background:
        radial-gradient(circle at top left, #071424, transparent 40%),
        radial-gradient(circle at bottom right, #020617, transparent 45%),
        linear-gradient(135deg, #020617, #040b1d);
    color: #ffffff;
}

.navbar 
{
    position: sticky;
    top: 0px;
    z-index: 1000;
    margin: 0;
    max-height: 35vh;
    background:
        radial-gradient(circle at top left, #071424, transparent 40%),
        radial-gradient(circle at bottom right, hwb(229 1% 91%), transparent 45%),
        linear-gradient(135deg, #020617, #040b1d);
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 25px;
    padding: 5px 0 0 0;
}

.navbar-name 
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-height: 70px;
    min-width: 30%;
    background-color: #070922;
}

.navbar-name h1 
{
    font-weight: bolder;
    font-display: fallback;
    font-style: unset;
    color: aliceblue;
}

.navbar-name h1:hover 
{
    cursor: pointer;
    color: rgb(243, 133, 60);
    transform: scale(1.05);
}

.navbar-menu 
{
    display: flex;
    justify-content: center;
    background-color: #070922;
    align-items: center;
    flex-wrap: wrap;
    max-height: 70px;
    padding: 10px 0 0 0;
    min-width: 70%;
    gap: 50px;

}

.navbar-menu a 
{
    font-size: x-large;
    font-weight: bolder;
    font-display: fallback;
    font-style: unset;
    color: aliceblue;
    text-decoration: none;
}

.navbar-menu a:hover 
{
    cursor: pointer;
    color: rgb(238, 57, 11);
    transform: scale(1.05);
}

.hero 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    min-height: 65vh;
    width: 100%;
    margin-top: 60px;
}

.hero-img 
{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    padding: 2%;
    background-image: url("./Yashimg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-img:hover 
{
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    transform: scale(1.05);
    cursor: pointer;
    transition-delay: 1ms;
}

.hero-text 
{
    height: 250px;
    width: 350px;
}

.hero-text .hero-text-content 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
    font-weight: unset;
    padding: 0 0 0 10px;
}

.hero-text .hero-text-content:hover 
{
    transform: scale(1.05);
    cursor:none;
    color: rgb(174, 250, 244);
}

.hero-text .hero-text-content .yash 
{
    font-size: 4rem;
    font-weight: bold;
    line-height: 1;
    margin: 5px 0 15px 0;


    color: #dcdada;
    text-transform: uppercase;

    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;

    animation: neon-pulsate 1.5s infinite alternate;
}

@keyframes neon-pulsate
{
    100% 
    {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #0fa,
            0 0 80px #0fa,
            0 0 90px #0fa,
            0 0 100px #0fa,
            0 0 150px #0fa;
    }

    0% 
    {
        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #0fa,
            0 0 45px #0fa,
            0 0 55px #0fa,
            0 0 70px #0fa,
            0 0 80px #0fa;
    }
}

.hero .hero-text .hero-text-content .bottom-text 
{
    font-size: 1.3rem;
    max-width: 300px;
    line-height: 1.4;
}
.bottom-text{
    text-align: center;
}
.bottom-text p{
    line-height: 5px;
}
.hero .hero-text .hero-text-content .resume-button
{
    min-height: 5vh;
    min-width: 130px;
    font-size:1rem;
    text-align: center;
    margin-top: 3px;
    padding:10px 0 0 6px;
    background-color: rgb(1, 38, 49);
    border-radius: 20px;
}
.hero .hero-text .hero-text-content .resume-button:hover
{
    transform: none;
    color: white;
    cursor: pointer;
}